<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-isscreenoff" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IsScreenOff</name>
    <js-module name="IsScreenOff" src="www/IsScreenOff.js">
        <clobbers target="cordova.plugins.IsScreenOff" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="IsScreenOff">
                <param name="android-package" value="cordova.plugin.isscreenoff.IsScreenOff" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/IsScreenOff.java" target-dir="src/cordova-plugin-isscreenoff/IsScreenOff" />
    </platform>
</plugin>